.demo-main {
    width: 100vw;
    height: 100vh;

    .header {
        height: 5%;
        background-color: #215366;
        align-items: center;
        justify-content: center;
        padding-left: 1%;
        font-size: 1.5rem;
        color: white;
        display: flex;
    }

    .demo-container {
        height: 95%;

        .inner {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}
