.demo-main {
    width: 100vw;
    height: 100vh;

    .header {
        height: 5%;
        background-color: #215366;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
    }

    .demo-container {
        height: 95%;

        .inner {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}
