.demo-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-container {
    width: 50%;
    height: 400px;
    border: 1px solid #ccc;
}