/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('./assets/fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('./assets/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./assets/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('./assets/fonts/roboto/Roboto-Black.ttf');
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}